<h1>WELCOME TO FOLDER COMPARISON<h1>
<h1><blockquote>UPLOAD FILE IN FOLDER 1</blockquote></h1>
<form action="/getFolder1" method="post" enctype="multipart/form-data">
            <input type="file" name="files"/>
          <button type="submit">upload</button>
</form>