<h1>WELCOME TO FOLDER COMPARE APP!!!<br><blockquote>Folder is compared Result shown in the terminal</blockquote></br></h1>
<form action="/filediff" method="post" enctype="multipart/form-data">
          <button type="submit">Click here to differentiate files</button>
</form>